.flex{
  display: flex;
  height: 100%;

}


.notFound{
  height: 100%;
  color: #333;
  &__content{
    margin: auto;
    text-align: center;
  }
  &__txt{
    text-transform: uppercase;
    font-size: 50px;
  }
  &__err{
    color: red;
    font-size: 100px;
    letter-spacing: 20px;
    line-height: 50px;
  }
}




 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  


}





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  


}






/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 
.notFound{
  &__txt{
    font-size: 30px;
  }
  &__err{
    font-size: 80px;
    letter-spacing: 10px;
    line-height: 50px;
  }
}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 .notFound{
  &__txt{
    font-size: 30px;
    line-height: 30px;
  }
  &__err{
    font-size: 80px;
    line-height: 80px;
  }
}

}





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {



}






/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {




}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}