.container, .container_flex {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px; }
  .container_flex {
    display: flex; }

li {
  list-style: none; }

a {
  text-decoration: none;
  outline: none; }

body {
  font-family: 'Roboto', sans-serif; }

.App {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh; }

.hide {
  display: none !important; }

.main {
  flex-grow: 1; }
