.container, .container_flex {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px; }
  .container_flex {
    display: flex; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  outline: none; }

body {
  font-family: 'Roboto', sans-serif; }

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fafbfc;
  align-content: space-between; }
  .App__header {
    font-size: 40px;
    font-weight: 100; }
  .App__block {
    padding: 70px 90px;
    box-sizing: border-box; }
  .App__element {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    cursor: pointer;
    position: relative; }
    .App__element:hover {
      box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2); }

.main {
  flex-grow: 1; }

.hide {
  display: none !important; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .App__header {
    font-size: 35px; }
  .App__block {
    padding: 40px 50px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .App__header {
    font-size: 30px; }
  .App__block {
    padding: 30px 10px; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
