.contactContainer__element {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; }
  .contactContainer__element:hover {
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2); }

.contactContainer__content {
  display: flex;
  align-items: center; }

.contactContainer__title {
  font-size: 18px; }

.contactContainer__img {
  width: 40px;
  padding: 0 20px 0 0; }

.contactContainer__btn {
  padding: 7px 25px;
  background: #1367d7;
  color: #fff;
  border-radius: 5px;
  letter-spacing: -.5px;
  transition: all .3s; }
  .contactContainer__btn:hover {
    transition: all .3s;
    background: #0f51a8;
    color: #e6e6e6; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .contactContainer__element {
    padding: 15px 10px;
    margin: 20px 0; }
  .contactContainer__title {
    font-size: 16px; }
  .contactContainer__img {
    padding: 0 10px 0 0; }
  .contactContainer__btn {
    padding: 7px 15px; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
