.contactContainer{
  &__element{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &:hover{
      box-shadow: 1px 3px 7px rgba(0,0,0,.2); 
    }
  }
  &__title{
    font-size: 18px;
  }
  &__img{
    width: 40px;
  }
  &__btn{
    padding: 7px 25px;
    background: rgb(19,103,215);
    color: #fff;
    border-radius: 5px;
    letter-spacing: -.5px;
    transition: all .3s;
    &:hover{
      background: darken(5%);
      transition: all .3s;
    }
  }
}



 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  


}





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  


}






/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  


}





/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 

}





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {



}






/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {




}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}